/* Basic Styling */
body {
    font-family: "Poppins", sans-serif;
    background-color: #02284f;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Dict logo styling*/
#logo{
    margin-left: 70px;
    width: 50%;
    margin-bottom: 20px;
}

/*page title*/
#registration_word{
        margin-left: 90px;
        font-weight: bold;
        font-size: 20px;
}

/* Login Container Styling */
.Log_in_Container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 350px;
    display: flex;
    flex-direction: column;
}
/*first name styling */
#firstname{
    display: block;
    font-weight: 600;
    color: #333;
  
    margin-top: 15px;

}
/*from last name to confirm password title styling*/
#lastname{
    display: block;
    font-weight: 600;
    color: #333;
    margin-top: 15px;

}

/*all input box styling*/
input {
    width: 92%;
    padding: 10px;
    border: 1px solid #02284f;
    border-radius: 4px;
    font-size: 12px;
    
}

.input-error {
    border: 1px solid red;
    background-color: #ffffff; /* Light red background */
  }
/*error massage below the input box */
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
/*button register styling */
button {
    background-color: #02284f;
    color: white;
    border: none;
    padding: 10px;
    width: 30%;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 110px;
    font-size: 12\5px;
    cursor: pointer;
    justify-self: auto;
}
button:hover {
    background-color: rgb(48, 48, 119);
}

/*log in class*/
.login{
    text-align: center;
    font-size:12px ;
    margin-top: 10px;
}
/*log in text button styling*/
#LOGIN_btn{
    color: blue;
    margin-left: 2px;
}
.blurred{
    filter:blur(2px);
    pointer-events: none;
}
.popup{
    display: none;
    width: 200px;
    height: 240px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 20px 20px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.popup img{
    width: 80px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}
.popup h2{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 10px;
}
#btn_ok{
    width: 20%;
    margin-top: 20px;
    padding: 5px 0;
    border: 0;
    outline: none;
    font-size: 18px;
    margin-left: 0%;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}